h2{
    color: red;
}
/* las clases principales que nos inyecta swetalert
.swal-ovelay - Contexto externo del alert
.swal-modal- Estructura de estilo  de la propia ventana del alert
.swal-footer - 
.swal-button
*/
.swal-overlay{
    background-color:lightgrey;
}
.swal-modal{
    background-color: lightpink;
    border: 2px solid black;
}
.swal-footer{
    background-color: lightsalmon;
    margin-top: 32px;
}
.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }