/*  *,body{
    Cambios globales de cualquier atributo y valor aqui referenciado
} */


form,
fieldset {
    width: 400px;
    margin: 0 auto;
    padding-left: 10px;
    /*    margin-left: 32px;  revisar como ejecuta en cascada de centrado a una nueva orden*/
}

label {
    text-align: left;
    display: inline-block;
    padding: 6px;
    font-weight: bold;
}

/* ----NUEVOS SELECTORES EN LA CONFECCION DE ESTILOS---- 

I.  Asociaciones, basadas en los elementos con el espacio (elemento,elemento,..) otro asociado que
era nombrandolos,( elemento elemeno div p), Los nuevos selectores asociara atributos  
*/

input:disabled {
    color: red;
    font-weight: bold;
}

/* II. Asociaciones que añaden mas directivas, clasicas  :hover :active :focus :visited*/
input:focus,
textarea:focus {
    /* Cambios de visual  cuando se ejecuta */
    border: 4px solid skyblue;
}

/* Onmouse,cambios visuales cuando el cursos está encimma del elemento */
button:hover,
input:hover {
    color: wheat;
    font-weight: bold;
    padding: 2px;
    background-color: black;


}
.centrado{
    text-align: center;
    margin: 0 auto;
}

/* En  los link, cambio visual si ya se ha seleccionado
*/
a:visited {
    color: green;
    font-weight: bold;
}

label:active {
    /*  */
    background-color: brown;
    font-weight: bold;
    color: aliceblue
}

/* III Asociaciones de concatenacion, etiqueta, atributos y selectores
    a.Asociamos con el simbolo (:)
        input:checked
    b.Concatenaciones de atributos y valores ([])
        input[type=checkbox]:checked

    c. Condiciones asociadas a traves del simbolo (+)
        input[type=checkbox]:checked+label{
            -estilos a generar
        }
        */

input[type=checkbox]:checked+label {
    font-weight: bold;
    color: blue;

}