form,
fieldset {
    width: 400px;
    margin: 0 auto;
    padding-left: 10px;
 /*    margin-left: 32px;  revisar como ejecuta en cascada de centrado a una nueva orden*/
}

label {
    text-align: left;
    display:inline-block;
    padding:6px

}
/* ----NUEVOS SELECTORES EN LA CONFECCION DE ESTILOS---- 

I.  Asociaciones, basadas en los elementos con el espacio (elemento,elemento,..) otro asociado que
era nombrandolos,( elemento elemeno div p), Los nuevos selectores asociara atributos  
*/

input:disabled{
    color: red;
    font-weight: bold;
}
